<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroes</title>
    <link rel="stylesheet" href= "css/main.css">
</head>
<body>
    <form method="post" action="/create-heroes">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">

        <label for="age">Age:</label>
        <input id="age" name="age" type="number">

        <label for="squad-id">Squad-id:</label>
        <input id="squad-id" name="squad-id" type="number">

        <label for="weakness-id">weakness-id:</label>
        <input id="weakness-id" name="weakness-id" type="number">

        <input type="submit" value="Add Heroes">
      </form>
</body>
</html>