<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/create-strength">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">

        <label for="score">Score:</label>
        <input id="score" name="score" type="number">

        <input type="submit" value="Add Strength">
      </form>
</body>
</html>