<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "css/main.css">
</head>
<body>
    <a href ="/strength/add">Add Strength</a>
    <a href ="/weakness/add">Add Weakness</a>
    <a href ="/heroes/add">Add Heroes</a>


</body>
</html>